*.a
*.la
*.lo
*.o
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
libtelnet-*.tar.gz
libtelnet-uninstalled.pc
libtelnet.pc
libtool
ltmain.sh
m4/*.m4
missing
stamp-h1
