*.o
*.a
*.la
*.lo
config.*
ltmain.sh
aclocal.m4
Makefile.in
Makefile
configure
libtelnet-*.tar.gz
libtool
missing
depcomp
install-sh
autom4te.cache
.deps
.libs
telnet-proxy
telnet-client
telnet-chatd
libtelnet.pc
INSTALL
